@model List<Enfermo>

<h1>Enfermos EF Stored Procedures</h1>
<p>
    <a asp-controller="Enfermos"
    asp-action="Create">
        New Enfermo
    </a>
</p>


<table class="table table-info">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Fecha nacimiento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Enfermo f in Model){
            <tr>
                <td>@f.Apellido</td>
                <td>@f.Direccion</td>
                <td>@f.FechaNacimiento.ToShortDateString()</td>
                <td>
                    <a asp-controller="Enfermos"
                    asp-action="Details"
                    asp-route-inscripcion="@f.Inscripcion"
                    class="btn btn-warning">
                        Details
                    </a>
                    <a asp-controller="Enfermos"
                       asp-action="Delete"
                       asp-route-inscripcion="@f.Inscripcion"
                       class="btn btn-danger">
                        Delete
                    </a>
                    <a asp-controller="Enfermos"
                       asp-action="DeleteRaw"
                       asp-route-inscripcion="@f.Inscripcion"
                       class="btn btn-outline-danger">
                        Delete Raw
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>